<table class="compare_table table table-bordered">
  <tr>
    <% products.each do |p| %>
      <td class="content_td"><%= image_tag p.company.logo %></td>
    <% end %>
  </tr>
  <tr>   
    <% products.each do |p| %>
      <td class="content_td"><%= p.name %></td>
    <% end %>
  </tr>

  <tr> 
    <% products.each do |p| %>
      <td class="content_td"><%= number_to_currency(p.rate) %></td>
    <% end %>
  </tr>

  <tr>
    <% products.each do |p| %>
      <td class="content_td">
        <% p.legal_texts.each do |l| %>
          <div class="accordion">
            <h3><%= l.legal_text_category.name %></h3>
            <div>
              <% if l.description %>
                <%= l.description.html_safe() %>
              <% end %>
            </div>
          </div>
        <% end %>
      </td>
    <% end %>
  </tr>


</table>