<table class="compare_table table table-bordered">
  <tr>
    <% products.each do |p| %>
      <td class="content_td"><%= image_tag p.company.logo %></td>
    <% end %>
  </tr>
  <tr class="odd">   
    <% products.each do |p| %>
      <td class="content_td"><%= p.name %></td>
    <% end %>
  </tr>
  <tr>
    <% products.each do |p| %>
      <td class="content_td"><%= link_to "Buy Now", p.purchase_url(), class: "btn-danger compare_buy_now" %></td>
    <% end %>
  </tr>
  <tr class="odd">
    <% products.each do |p| %>
      <td class="content_td"><strong>Rate: <%= number_to_currency(p.rate) %></strong></td>
    <% end %>
  </tr>
  <tr> 
   <% products.each do |p| %>
      <td class="content_td"><strong>Dedutible of: <%= p.applied_ded %><strong></td>
    <% end %>
    </tr>
  <tr class="odd">
    <td class="content_td" colspan="<%=  products.count.to_s  %>" data-products="<%= "#{products.map(&:id).join(",")}" %>">
      <% if quote.applied_filters%>
      
      <%= select_tag "applied_filters_legal_texts", grouped_options_for_select(LegalTextCategory.get_legal_texts_compare_option(quote.product_filters, quote.quote_type)), class: "form-control", id: "applied_filters_legal_texts", prompt: "Please Select The Legal Text For Comparing", data: {url: compare_legals_quote_path() } %>
      <% end %>
    </td>

  </tr>
  <tr class="compare_legal_text">
    <td class="content_td" colspan="<%= products.count.to_s  %>">
        No Legal Text Comparison Selected Yet
    </td>
  </tr>
 


</table>