<aside>
  <div class="row side_bar_widget">
    <div class="title">
      <p>Your Quote</p>
    </div>

    <div class="col-sm-6">
      <p>Trip Length:</p>
      <p>Trip Cost:</p>
      <p>Traveler Age:</p>
      <% if q.traveler_type != "Family" %>
        <% q.adult_members.each_with_index do |m, i| %>
          <p>Traveler #<%= "#{i + 1}"%>:</p>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <p class="trip_length" ><%= pluralize(q.traveled_days, "Day") %></p>
      <p><%= q.trip_cost || "Not Entered" %></p>
      <p><%= [q.ages["Adult"], q.ages["Dependent"]].flatten.join(", ") %></p>
      <% if q.traveler_type != "Family" %>
        <% q.adult_members.each do |m| %>
          <p><%= m.birthday.strftime("%d-%m-%Y") %></p>
        <% end %>
      <% end %>
    </div>
    <div class="email-button">
    <%= button_tag "Email Me This Quote!", class: "email-pop btn btn-danger", data: {content:"#{render('popover_email', q: q)}"} %>
    </div>
  </div>

  <div class="row side_bar_widget">

    <div class="title">
        <p>Your Current Filter</p>
    </div>

    <div class="current_filters">
      <%= render 'current_filters', q: q %>
    </div>
  </div>

  <div class="row side_bar_widget">
    <div class="title">
      <p>Apply Deductible</p>
    </div>

    <div class="deductible group">
      <%= render 'deductible_filter', q: q %>
    </div>
  </div>


  <div class="row side_bar_widget">
    <div class="title">
        <p>Select Filter</p>
    </div>

    <div class="filter_selections clearfix">
      <%= form_tag url_for(:controller => 'quotes', :action => 'apply_filters') do -%>
        <%= hidden_field_tag "quote_id", q.id %>
        <% ProductFilter.all.group_by(&:category).each do |k, v| %>
          <h5 data-toggle="collapse"  href="#selection_<%= "#{k.gsub("&", "AND").gsub(" ", "_").downcase}" %>" class="collapsible collapsed arrow-black"> <%= "#{k.downcase.split.map(&:capitalize)*' '}" %></h5>

          <div id="selection_<%= "#{k.gsub("&", "AND").gsub(" ", "_").downcase}" %>" class="panel-collapse collapse">
          <ul>
            <% v.each do |filter| %>
              <li>

              <%= check_box_tag "filters[][product_filter_id]", filter.id, q.cached_applied_filter_ids.include?(filter.id), id: "filter_#{filter.id}", class: "quote_filters" %>
              <%= label_tag "filter_#{filter.id}", "#{filter.name}" %>
              </li>
            <% end %>
          </ul>
          </div>
        <% end %>
    
      <% end %>
    </div>
  </div>

</aside>