<div class="row">

  <div class="col-md-8 quotes">  
    <div class="quote_form_info" >
      <h2><%= @quote.quote_type || params[:quote_type] %> Insurance Quote</h2>

      <p>Stone-Hedge Financial Group Inc. provides unbiased comparative quotes to travelers. Stone-Hedge Financial Group Inc. is not owned in part or in whole by any insurance company and is a leader in the insurance industry.</p>
    </div>

    <div class="errors">
      <%= render "shared/error_messages", object: @quote %>
    </div>

    <%= form_for @quote, class: "form-horizontal" do |f|%>
      <%= f.hidden_field :quote_type, :value =>  @quote.quote_type || params[:quote_type]  %>

        <div class="form-group row">
          <div class="col-sm-4"> 
            <%= f.label :email, "Email:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>

      <% if  @quote.quote_type == "Visitor Visa" || params[:quote_type] == "Visitor Visa" %>
        <div class="form-group row">
          <div class="col-sm-4"> 
            <%= f.label :leave_home, "What was your departure date?", class: "control-label" %>
            <div class="question_mark"><%= image_tag "question.png"  %></div>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :leave_home, class: "form-control", readonly: true %>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-4"> 
            <%= f.label :return_home, "When do you return home?", class: "control-label" %>
            <div class="question_mark"><%= image_tag "question.png"  %></div>
          </div>
       
          <div class="col-sm-8">
            <%= f.text_field :return_home, class: "form-control", readonly: true %>
          </div>
        </div>
      <% else %>
        <div class="form-group row">
          <div class="col-sm-4"> 
            <%= label_tag "trip_length_place_holder", raw("Trip Length <br/> 1 Year(365 Days)"), class: "control-label" %>
            <div class="question_mark"><%= image_tag "question.png"  %></div>
          </div>
       
          <div class="col-sm-8">
            <%= text_field_tag "trip_length_place_holder",nil, :placeholder => "Super Visa Requirement is 1 Year Trip Length", class: "form-control", readonly: true %>
          </div>
        </div>
        
        <%= f.hidden_field :leave_home, :value => Date.today, class: "form-control", readonly: true %>
        <%= f.hidden_field :return_home, :value => (Date.today + 1.year), class: "form-control", readonly: true %>
      <% end %>

      <div class="form-group row">
        <div class="col-sm-4"> 
          <%= f.label :has_preex, "Do you require coverage for stable pre-exisiting medical conditions?", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
     
        <div class="col-sm-8">
            <%= f.select(:has_preex, options_for_select([["Yes", true],["No", false]], false), {}, class: "form-control") %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4"> 
          <%= f.label :apply_from, "Are you applying from within Canada?", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
        <div class="col-sm-8">
          <%= f.select(:apply_from, options_for_select([["Yes", true], ["No", false]], (@quote.apply_from || false)), {}, class: "form-control") %>
        </div>
      </div>

      <div class="form-group row renew" <%= display?(@quote.apply_from()) %>>
        <div class="col-sm-4"> 
          <%= f.label :renew, "Are you an exisiting policy holder renewing your policy with a new or exisiting insure?", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
        <div class="col-sm-8">
          <%= f.select(:renew, options_for_select(["", ["Yes", true], ["No", false]]), {}, class: "form-control") %>
        </div>
      </div>

      <div class="form-group row renew_expire_date" <%= display?(@quote.apply_from()) %>>
        <div class="col-sm-4"> 
          <%= f.label :renew_expire_date, "When does your current policy expires?", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :renew_expire_date, class: "form-control", readonly: true %>
        </div>
      </div>

      <div class="form-group row arrival_date" <%= display?(@quote.apply_from()) %>>
        <div class="col-sm-4"> 
          <%= f.label :arrival_date, "Arrival date in Canada?", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :arrival_date, class: "form-control", readonly: true %>
        </div>
      </div>

      <% if @quote.quote_type == "Visitor Visa" || params[:quote_type] == "Visitor Visa" %>
        <div class="form-group row">
          <div class="col-sm-4"> 
            <%= f.label :trip_cost, "What was the cost of your trip? (In Canadian Dollars - Optional)", class: "control-label" %>
            <div class="question_mark"><%= image_tag "question.png"  %></div>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :trip_cost, class: "form-control" %>
          </div>
        </div>
      <% end %>
      <div class="form-group row">
        <div class="col-sm-4"> 
          <%= f.label :sum_insured, "Select insure sum? (Super Visa minimun $100,000)", class: "control-label" %>
          <div class="question_mark"><%= image_tag "question.png"  %></div>
        </div>
        <div class="col-sm-8">
          <%= f.select :sum_insured,options_for_select(Quote.send("#{ (@quote.quote_type || params[:quote_type]).downcase.gsub(" ", "_") }_sum")), {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :traveler_type, "Number of travelers", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.select :traveler_type, options_for_select(Quote.send("#{(@quote.quote_type || params[:quote_type]).downcase.gsub(" ", "_")}_selections")), {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <fieldset class="traveling_members">
          <legend>Traveling Members</legend>
          <%= render('member_fields_toolbar', f: f) %>

          <div class="row adult_fields">
            <%= f.fields_for :traveler_members do |builder| %>
              <%= render('traveler_member_fields', f: builder )%>
            <% end %>
          </div>
          <div class="row dependent_fields" style="display: none;">
            <h4>Dependents</h4>
          </div>
        </fieldset>

      </div>

      <div class="form-group row">
        <div class="col-sm-12 right">
          <%= f.submit "Get Quote!", class: "btn btn-danger btn-f btn-h-40 " %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="col-md-4">
    <aside>
      SideBar
    </aside>
  </div>
</div>

