<div class="row">

  <div class="col-md-8 quotes">  
    <div class="quote_form_info" >
      <h2>Travel Insurance Quote</h2>

      <p>Stone-Hedge Financial Group Inc. provides unbiased comparative quotes to travelers. Stone-Hedge Financial Group Inc. is not owned in part or in whole by any insurance company and is a leader in the insurance industry.</p>
    </div>

    <%= form_tag url_for(:controller => 'quotes', :action => 'create'), class: "form-horizontal" %>

    <div class="form-group">
      <%= label_tag 'quote[leave_home]', "When do you leave home for your trip?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= datetime_field_tag 'quote[leave_home]', nil, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= label_tag 'quote[return_home]', "When do you return home?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= datetime_field_tag 'quote[return_home]', nil, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'quote[trip_cost]', "When did you make your first booking?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= text_field_tag 'quote[trip_cost]', nil, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'quote[country]', "Which country are you a resident of?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= select_tag 'quote[country]', options_for_select(["Canada", "US", "Other"]), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'quote[number_traveler]', "How many travelers?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= select_tag  'quote[number_traveler]', options_for_select((1..10).to_a), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :traveler_age, "How old are the travelers as of today?", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <div class="age_of_traverl">
          <div class="row">
            <% 10.times do |n| %>
              <div class="col-sm-2">
                <% if n == 0 %>
                  <%= text_field_tag "quote[#{n}][ages]", nil, class: 'form-control' %>
                <% else %>
                  <%= text_field_tag "quote[#{n}][ages]", nil, class: 'hidden form-control' %>
                <% end %>
              </div>
            <% end %>
          </div>
 
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-9 col-sm-10 right">
        <button type="submit" class="btn btn-danger btn-lg">Get Quote!</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <aside>
      SideBar
    </aside>
  </div>
</div>

