<div class="row">

  <div class="col-lg-3">
    <%= render 'result_sidebar', q: @quote  %>
  </div>

  <div class="col-lg-9 quotes">  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to "#{@quote.traveler_type} Policies", "##{@quote.traveler_type.downcase}", data: {toggle: "tab"} %>
      </li>
      <% if @quote.traveler_type == "Couple" %>
        <li><%= link_to "Traveler #1", "#traveler1", data: {toggle: "tab", url: couple_quote_path(@quote, traveler_number: 1)} %></li>
        <li><%= link_to "Traveler #2", "#traveler2", data: {toggle: "tab", url: couple_quote_path(@quote, traveler_number: 2) } %></li>
      <% end %>
      <li><a href="#compare" data-toggle="tab">Compare Policies</a></li>
    </ul>
   

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane fade in active" id="<%= @quote.traveler_type.downcase %>">
        <%= render 'result_list', quote: @quote, results: @quote.results %>
      </div>
      <% if @quote.traveler_type == "Couple" %>
        <div class="tab-pane fade" id="#traveler1"></div>
        <div class="tab-pane fade" id="#traveler2"></div>
      <% end %>
      <div class="tab-pane fade" id="compare"></div>
    </div>
  </div>
</div>

