<%= form_tag url_for(:controller => 'admin/regions', :action => 'create') do -%>
  <%= hidden_field_tag "company_id", params[:id] %>
  <fieldset class="inputs">

    <div class="province_select group panel_contents">
      <%= link_to "Select None", "#",  class: "select_none link_button right"  %>
      <%= link_to "Select All", "#",  class: "select_all link_button right"  %>
 
        <!-- Chrome Fix checkbox won't be checked if nested under table -->
        <% @provinces.each_with_index do |prov, i| %>
          <%= check_box_tag "region_ids[]", prov.id, @already_selected_region.include?(prov.id), id: "region_#{prov.id}" %>
        <% end %>

        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="col">Flag</th>
              <th class="col">Name</th>
              <th class="col">Short Hand</th>
            </tr>
          </thead>
          <tbody>
            <% @provinces.each_with_index do |prov, i| %>

              <tr class="selection  <%= "selected" if @already_selected_region.include?(prov.id) %>" data-key="<%= "region_#{prov.id}" %>">
                <th class="col"><%= image_tag prov.flag, size: "30x30" %></th>
                <th class="col"><%= prov.name %></th>
                <th class="col"><%= prov.short_hand %></th>
              </tr>
            <% end %>

          </tbody>
        </table>        

      </div>
    <%= submit_tag "Add Selected Provices", class: "right", data: {confirm: I18n.t('active_admin.are_you_sure')} %>
    <%= link_to "Add New Provice", new_admin_province_path(),  class: "link_button right"  %>
  </fieldset>

<% end %>
